.header{
    background-image: linear-gradient(red, yellow);
    display: flex;
    font-size: 1.5rem;
    max-height: 3.33em;
}

.logo-placeholder{
    width: 40%;
    margin: 0.5em;
    text-align: center;
}

.logo-image{
    width: 6.25em;
    height: 100%
}

.nav-bar{
    width: 40%;
    font-size: 1.2rem;
    margin: 0.625em;
}

.nav-bar ul li{
    display: inline-block;
}

.nav-bar a{
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight:500;
    font-size: 1.5rem;
    display: flex;
    padding: 0.5em;
}

.nav-bar a:hover{
    background-color: brown;
    color: beige;
}

.nav-bar a:visited{
    color: black;
}

.cart-icon{
    margin: 0.5em;
    padding: 0.5em;
}

.orders-placed{
    margin: 0.625em 0.625em 0 0;
    padding: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    opacity: 80%;
    height: 150px;
    width:380px;
    border-radius: 10px;
}

.cart-heading{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(136, 133, 133);
}

.cart-heading p{
    position: absolute;
    top:0;
    right: 0;
    font-size: 1.2rem;
    padding-right: 0.5em;
}

h4{
    width: 100%;
    text-align: center;
}

/* .orders-placed p{
    text-align: center;
} */

.orders{
    margin-top: 0.75em;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
}

.order-image {
    text-align: center;
    padding-right: 1em;
    
}

.order-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.order-image figcaption{
    font-size: 0.75em;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.order-details {
    width: 65%;
    margin: auto;
}

.feedback{
    width: 400px;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid;
    text-align: center;
}

.feedback img{
    width: 300px;
    height: auto;
}

.feedback figcaption{
    border-top: 1px solid;
}

.ceo-quote{
    background-image: linear-gradient(red, yellow);
    max-width: 80%;
    text-align: center;
    margin: 0.5em auto;
    padding: 0.5em;
    display:flex;
    align-items: center;

}

.ceo-quote figure{
    border-left: 2px solid rgb(173, 33, 33);
    padding-left: 0.75em;
}